.text-center {
  text-align: center;
}


.price-data {
  border-right: 3px solid $gray-1;
}

.price-data, .price-data2 {

  color: $gray-1;

  h1 {
    letter-spacing: -3px;
    margin: 15px;
    font-size: 45px;
    color: $gray-3;
  }
}

@media (max-width: $breakpoint-md) {
  .price-data, .price-data2 {
    h1 {
      font-size: 35px;
    }
  }
}


.price-data2.blur {
  opacity: .5
}

.info-lst {

  margin-bottom: 40px;

  ul {
    list-style-type: none!important;

    li {

      padding: 0 0 0 35px;
      position: relative;

      &:before {

        content: "\2714\0020";
        color: #89674e;
        font-size: 22px;
        padding: 0 5px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.range-col {
  min-height: 100px;
  position: relative;
}

.range-hint-container {
  height: 100px;
  max-height: 100px;
  width: 100%;
  overflow: hidden;
  transition: all .5s ease-in-out;
  bottom: 0;
  transition-duration: .32s;
  background: #eee;
  transition-property: max-height, box-shadow;
  position: absolute;
  padding: 0 $grid-gutter;

  &:hover {
    height: auto;
    max-height: 500px
  }
}

.range-hint > p {
  font-size: 14px;
  font-weight: 400;
  color: #525151;
  padding-top: 5px;
}