<div class="row">
    <div class="col-sm-4 text-center">
        <div class="price-data">
            <small>Vermögen bis zu 1 Mio. CHF </small>
            <h1>0.75% p. a.</h1>
            <small>mindestens 500 CHF p.a.</small>
        </div>
    </div>
    <div class="col-sm-4 text-center">
        <div class="price-data2">
            <small>Vermögen über 1 Mio. CHF</small>
            <h1>0.45% p. a.</h1>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="info-lst">
            <ul>{benfits}</ul>
        </div>
    </div>
</div>
<div class="row rangslider">
    <div class="col-sm-8 slider-range">
        <input type="text"
               id="range_02"
               name="range_02" value=""
               data-slider_min_range="{slider_min_range}"
               data-slider_max_range="{slider_max_range}"
               data-slider_from_range="{slider_from_range}"
               data-service_per_annum_price="{service_per_annum_price}"
               data-managed_assets_text="{managed_assets_text}"
               data-slider_assets_up_to="{slider_assets_up_to}"
               data-slider_assets_over="{slider_assets_over}"
               data-service_per_annum_percent="{service_per_annum_percent}"
        />
        <span class="slider-bottom"></span>
    </div>
    <div class="col-sm-4">
        <div class="range-hint-container">
            <div class="range-hint small">{content}</div>
        </div>
    </div>
</div>